.temperature {
  font-family: "Roboto";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .temperature_left {
    font-size: 115px;
    font-weight: 100;
    max-height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }

  .temperature_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px 0 0;

    .temperature_right_top {
      font-size: 35px;
    }

    .temperature_right_bottom {
      margin: 0 0 15px 0;
      .min_max {
        display: flex;
        flex-direction: row;
        align-items:flex-start ;    
        justify-content: space-around;
        font-size: 18px;
      }      
    }
  }
}

